<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Blog17th.com| Hoàng Sang </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1a344f">
    <meta name="description" content="Blog17th.com, blog về kỹ thuật, rèn luyện kỹ năng và chia sẻ kinh nghiệm phát triển bản thân dành cho tất cả lập trình viên" />
    <meta name="keywords" content="Blog17th, Hoàng Sang" />
    <meta name="author" content="Hoàng Sang" />
</head>

<body>

    
    

    <section class="bg-light pt-5">
        <div class="home-center mt-5">
            <div class="home-desc-center pt-5">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-lg-4 mt-2">
                            <div class="boxed">
                                <div class="text-title-boxed text-center">
                                    <p>Interact with Blog17th</p>
                                </div>
                                <hr>
                                <div class="text-content-boxed">
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="#">New Post</a>
                                        </li>
                                        <li>
                                            <a href="#">List Post</a>
                                        </li>
                                        <li>
                                            <a href="#">List User</a>
                                        </li>
                                        <li>
                                            <a href="#">New Comment</a>
                                        </li>
                                        <li>
                                            <a href="#">Send Newsletter</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 mt-2">
                            <div class="boxed">
                                <div class="text-title-boxed">
                                    <p>Post</p>
                                </div>
                                <form>
                                    <div class="row">
                                        <div class="col-md-12 my-2">
                                            <label>Title:</label>
                                            <input type="text" name="name" value="Giật gân" class="form-control"/>
                                        </div>
                                        <div class="col-md-12 my-2">
                                            <label>Tag:</label>
                                            <input type="text" name="display-name" value="Blog17th" class="form-control"/>
                                        </div>
                                        <div class="col-md-12 my-2">
                                            <label>Content:</label>
                                            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn-primary text-uppercase text-dark">Post</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
            </div>
        </div>
    </section>


 

    
</body>
</html>