<section class="bg-footer">
    <div class="container">
        <div class="text-center mt-0">
            <p class="footer-alt mb-0">© 2021 Blog17th.com, Design by Hoàng Sang</p>
        </div>
    </div>
</section>